{% load static %}
<style>
    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
</style>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
<link rel="stylesheet" href="{% static '/css/style.css' %}">
<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>


{% block content %} {% endblock %}
