{% extends 'base.html' %} 

{% block content %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    {% if messages %}
        {% for message in messages %}
            alert('{{message}}')
        {% endfor %}
    {% endif %}
</script>

<nav class="flex items-center bg-black shadow-lg justify-between bg-teal p-6 px-20">
    <div class="flex items-center flex-no-shrink text-white mr-6">
        <a class="font-semibold text-xl tracking-tight" href="{% url 'dashboard' %}">Sports Event Managment</a>
    </div>
    <div class="flex items-center space-x-4">
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-black hover:bg-white">Logout</a>
            <a href="{% url 'password_change' %}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-black hover:bg-white">Change Password</a>
        {% else %}
            <a href="{% url 'login' %}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-black hover:bg-white">Login</a>
        {% endif %}
    </div>
</nav>

<div class="flex flex-col items-center justify-center mt-8">
    <span class="font-bold text-2xl mb-4">
        APPLY FOR TOURNAMENT
    </span>
    <form method="POST" action="{% url 'apply_tournaments' id=id %}" class="grid grid-cols-2 gap-4 bg-white shadow-md rounded px-8 pt-6 pb-8">
        {% csrf_token %}
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="team_name">
            Team Name
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="team_name" name="team_name" type="text" placeholder="team name">
        </div>
        <div></div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="player_1">
            player one
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="player_1" name="player_1" type="text" placeholder="player one">
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="player_2">
            player two
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="player_2" name="player_2" type="text" placeholder="player two">
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="player_3">
            player three
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="player_3" name="player_3" type="text" placeholder="player three">
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="player_4">
            player four
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="player_4" name="player_4" type="text" placeholder="player four">
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="player_5">
            player five
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="player_5" name="player_5" type="text" placeholder="player five">
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="player_6">
            player six
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="player_6" name="player_6" type="text" placeholder="player six">
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="player_7">
            player seven
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="player_7" name="player_7" type="text" placeholder="player seven">
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="player_8">
            player eight
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="player_8" name="player_8" type="text" placeholder="player eight">
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="player_9">
            player nine
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="player_9" name="player_9" type="text" placeholder="player nine">
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="player_10">
            player ten
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="player_10" name="player_10" type="text" placeholder="player ten">
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="player_11">
            player eleven
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="player_11" name="player_11" type="text" placeholder="player eleven">
        </div>
        <div></div>
        <div class="flex items-center justify-between">
          <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
            Add
          </button>
        </div>
    </form>
</div>
{% endblock %}