{% extends 'base.html' %} 

{% block content %}
    <nav class="fixed w-screen flex items-center bg-black shadow-lg justify-between bg-teal p-6 px-20">
        <div class="flex items-center flex-no-shrink text-white mr-6">
        <a class="font-semibold text-xl tracking-tight" href="{% url 'dashboard' %}">Sports Event Managment</a>
        </div>
        <div class="flex items-center space-x-4">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-black hover:bg-white">Logout</a>
                <a href="{% url 'password_change' %}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-black hover:bg-white">Change Password</a>
            {% else %}
                <a href="{% url 'login' %}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-black hover:bg-white">Login</a>
                <a href="{% url 'register' %}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-black hover:bg-white">Register</a>
            {% endif %}
        </div>
    </nav>

    <div class="flex flex-col items-center justify-center h-screen space-y-4">
        <div class="flex justify-center space-x-4">
            <a href="{% url 'tournaments' %}" class="bg-black text-white h-32 w-32 flex items-center justify-center rounded-full">Tournaments</a>
            <a href="{% url 'tournaments' %}" class="bg-black text-white h-32 w-32 flex items-center justify-center rounded-full">Staff</a>
        </div>
        <div class="flex justify-center space-x-4">
            <a href="{% url 'tournaments' %}" class="bg-black text-white h-32 w-32 flex items-center justify-center rounded-full">Winners</a>
        </div>
    </div>
{% endblock %}
