{% extends 'base.html' %} 

{% block content %}
<style>
    /*Form fields*/
    .dataTables_wrapper select,
    .dataTables_wrapper .dataTables_filter input {
        color: #4a5568; 			/*text-gray-700*/
        padding-left: 1rem; 		/*pl-4*/
        padding-right: 1rem; 		/*pl-4*/
        padding-top: .5rem; 		/*pl-2*/
        padding-bottom: .5rem; 		/*pl-2*/
        line-height: 1.25; 			/*leading-tight*/
        border-width: 2px; 			/*border-2*/
        border-radius: .25rem; 		
        border-color: #edf2f7; 		/*border-gray-200*/
        background-color: #edf2f7; 	/*bg-gray-200*/
    }

    /*Row Hover*/
    table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
        background-color: #ebf4ff;	/*bg-indigo-100*/
    }
    
    /*Pagination Buttons*/
    .dataTables_wrapper .dataTables_paginate .paginate_button		{
        font-weight: 700;				/*font-bold*/
        border-radius: .25rem;			/*rounded*/
        border: 1px solid transparent;	/*border border-transparent*/
    }
    
    /*Pagination Buttons - Current selected */
    .dataTables_wrapper .dataTables_paginate .paginate_button.current	{
        color: #fff !important;				/*text-white*/
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06); 	/*shadow*/
        font-weight: 700;					/*font-bold*/
        border-radius: .25rem;				/*rounded*/
        background: #667eea !important;		/*bg-indigo-500*/
        border: 1px solid transparent;		/*border border-transparent*/
    }

    /*Pagination Buttons - Hover */
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover		{
        color: #fff !important;				/*text-white*/
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);	 /*shadow*/
        font-weight: 700;					/*font-bold*/
        border-radius: .25rem;				/*rounded*/
        background: #667eea !important;		/*bg-indigo-500*/
        border: 1px solid transparent;		/*border border-transparent*/
    }
    
    /*Add padding to bottom border */
    table.dataTable.no-footer {
        border-bottom: 1px solid #e2e8f0;	/*border-b-1 border-gray-300*/
        margin-top: 0.75em;
        margin-bottom: 0.75em;
    }
    
    /*Change colour of responsive icon*/
    table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
        background-color: #667eea !important; /*bg-indigo-500*/
    }
</style>

<div class="modal-body hidden" id="modal">
    <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                            <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                            </svg>
                        </div>
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                                Delete Winners
                            </h3>
                            <div class="mt-2">
                                <p class="text-sm text-gray-500">
                                Are you sure you want to deleted this winner list?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <form action="{% url 'delete_winners' %}" method="post" class="m-0">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button id="cancel" type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                            Cancel
                        </button>
                        <input type="hidden" name="id" id="id" value="{{ id }}" />            
                        <button type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="flex items-center bg-black shadow-lg justify-between bg-teal p-6 px-20">
    <div class="flex items-center flex-no-shrink text-white mr-6">
        <a class="font-semibold text-xl tracking-tight" href="{% url 'dashboard' %}">Sports Event Managment</a>
    </div>
    <div class="flex items-center space-x-4">
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-black hover:bg-white">Logout</a>
            <a href="{% url 'password_change' %}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-black hover:bg-white">Change Password</a>
        {% else %}
            <a href="{% url 'login' %}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-black hover:bg-white">Login</a>
            <a href="{% url 'register' %}" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-black hover:bg-white">Register</a>
        {% endif %}
    </div>
</nav>


<div class="container w-full md:w-4/5 mx-auto px-2 mt-4 md:mt-14">
    <div id='recipients' class="flex flex-col space-y-4 p-4 mt-6 lg:mt-0 rounded shadow bg-white">
        {% if user.is_authenticated %}
        <a class="bg-blue-500 hover:bg-blue-700 flex-none w-36 text-center text-white font-bold py-2 px-4 rounded" href="{% url 'add_winners' %}">
            Add Winners
        </a>
        {% endif %}
        <table id="example" class="datatable stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
            <thead>
                <tr>
                    <th data-priority="1">ID</th>
                    <th data-priority="2">Tournament</th>
                    <th data-priority="3">Gold</th>
                    <th data-priority="4">Silver</th>
                    <th data-priority="5">Bronze</th>
                    <th data-priority="6">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

{% if user.is_authenticated %}
<script type="text/javascript" language="javascript" class="init">
    $(document).ready(function() {
        var dt_table = $('.datatable').DataTable({
            order: [[ 0, "desc" ]],
            columnDefs: [
                {
                    name: 'id',
                    orderable: false,
                    searchable: false,
                    targets: [0]
                },
                {
                    name: 'winners_for',
                    orderable: false,
                    searchable: true,
                    targets: [1]
                },
                {
                    name: 'gold',
                    orderable: false,
                    searchable: true,
                    targets: [2]
                },
                {
                    name: 'silver',
                    orderable: false,
                    searchable: true,
                    targets: [3]
                },
                {
                    name: 'bronze',
                    orderable: false,
                    searchable: true,
                    targets: [4]
                },
                {
                    visible: true,
                    orderable: false,
                    searchable: false,
                    data: null,
                    targets: [5],
                    defaultContent: "<button id='edit' class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded'>Edit</button><button id='delete' class='bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-2'>Delete</button>"
                }
            ],
            searching: true,
            ajax: "{% url 'getWinners' %}"
        });

        // Apply the search
        dt_table.columns().every( function () {
            var that = this;
            $('input', this.footer() ).on( 'keyup change', function () {
    
                if ( that.search() !== this.value) {
                    that
                        .search( this.value )
                        .draw();
                }
            });
        });

        $('.datatable tbody').on( 'click', '#edit', function () {
            var data = dt_table.row( $(this).parents('tr') ).data();
            window.location.href = "/edit/" + data[0] + "/winners";
        });

        $('.datatable tbody').on( 'click', '#delete', function () {
            var data = dt_table.row( $(this).parents('tr') ).data();
            $(".modal-body #id").val(data[0]);
            $('#modal').toggleClass("hidden");
        });
        $("#cancel").click(function () {
            $('#modal').toggleClass("hidden");
        });
    });
</script>
{% else %}
<script type="text/javascript" language="javascript" class="init">
    $(document).ready(function() {
        var dt_table = $('.datatable').DataTable({
            order: [[ 0, "desc" ]],
            columnDefs: [
                {
                    name: 'id',
                    orderable: false,
                    searchable: false,
                    targets: [0]
                },
                {
                    name: 'tournament',
                    orderable: false,
                    searchable: true,
                    targets: [1]
                },
                {
                    name: 'gold',
                    orderable: false,
                    searchable: true,
                    targets: [2]
                },
                {
                    name: 'silver',
                    orderable: false,
                    searchable: true,
                    targets: [3]
                },
                {
                    name: 'bronze',
                    orderable: false,
                    searchable: true,
                    targets: [4]
                },
                {
                    visible: false,
                    orderable: false,
                    searchable: false,
                    data: null,
                    targets: [6],
                    defaultContent: "<button id='edit' class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded'>Edit</button><button id='delete' class='bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-2'>Delete</button>"
                }
            ],
            searching: true,
            ajax: "{% url 'getWinners' %}"
        });

        // Apply the search
        dt_table.columns().every( function () {
            var that = this;
            $('input', this.footer() ).on( 'keyup change', function () {
    
                if ( that.search() !== this.value) {
                    that
                        .search( this.value )
                        .draw();
                }
            });
        });

        $('.datatable tbody').on( 'click', '#edit', function () {
            var data = dt_table.row( $(this).parents('tr') ).data();
            window.location.href = "/edit/" + data[0] + "/winners";
        });

        $('.datatable tbody').on( 'click', '#delete', function () {
            var data = dt_table.row( $(this).parents('tr') ).data();
            $(".modal-body #id").val(data[0]);
            $('#modal').toggleClass("hidden");
        });
        $("#cancel").click(function () {
            $('#modal').toggleClass("hidden");
        });
    });
</script>
{% endif %}

{% endblock %}